.navigation {
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, .23);
    border-radius: 8px;
    padding: 20px;
}

.navigation__condition {
    display: block;
    text-align: center;
    border-radius: 4px;
    border: 1.5px solid #464545;
    margin-top: 25px;
    padding: 5px;
    cursor: pointer;
}

.navigation_points,
.navigation__time {
    display: flex;
    flex-direction: column;
}

.navigation-point__value,
.navigation-time__value {
    padding: 5px;
    border-radius: 4px;
    border: 1.5px solid #464545;
    text-align: center;
}

.content {
    padding: 20px 0;
}

.content__arena,
.content__results {
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, .23);
    border-radius: 8px;
    padding: 20px;
}

.content__arena {
    position: relative;
}

.content__result-board{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.results-show {
    display: block;
}

.content__board {
    height: 400px;
    border: 1.5px solid #464545;
    display: flex;
    flex-wrap: wrap;
}

.squre {
    width: 10%;
    height: 10%;
    border: 1.5px solid #464545;
}

.start-squre {
    width: 100%;
    height: 100%;
}

.finish-results {
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
}

.finish-results__score {
    font-size: 26px;
    color: #fff;
    text-align: center;
    font-weight: 500;
}


.finish-results__label {
    color: #fff;
    font-weight: 500;
}

.finish-results__name {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
}

.finish-results__btn {
    border-radius: 4px;
    padding: 10px;
    background: #6f6f6f;
    outline: none;
    border: 0;
    color: #fff;
    font-weight: 500;
}

.table-result {
    padding: 10px;
    border: 1.5px solid #464545;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.table-result:first-child {
    margin-top: 20px;
}

@media screen and (max-width: 768px) { 
    .content__arena {
        margin-bottom: 20px;
    }
}